<div class="parent">
    <div class="div1">
        <p><a class="button"
              routerLink="/piso3"
              routerLinkActive="activebutton"
              ariaCurrentWhenActive="page">
            Piso 3
        </a></p>
        <!-- Puedes agregar más enlaces de menú aquí -->
        <p><a class="button"
              routerLink="/piso4"
              routerLinkActive="activebutton"
              ariaCurrentWhenActive="page">
            Piso 4
        </a></p>
    </div>
    <div class="div2">
        <router-outlet></router-outlet>
    </div>
    <div class="div3">3</div>
    <div class="div4">4</div>
</div>
